<h1 class="text-center jumbotron">
  Comments for picture
</h1>

{{#each model as |comment|}}
  <div class="comment">
    <strong>{{comment.user.name}}</strong>:
    <strong>{{comment.user}}</strong>:
    <strong>{{comment.item}}</strong>:
    {{comment.text}}
  </div>
{{/each}}

<form {{action 'comment'}}>
  <textarea name="text"></textarea>
  <button>Submit</button>
</form>
