<h1 class="text-center jumbotron">
  Comments for picture
</h1>

{{#each model.comments as |comment|}}
  <div class="comment">
    <em>{{comment.created_at}}</em>
    <strong>{{comment.user.name}}</strong>:
    {{comment.text}}
  </div>
{{/each}}

<form {{action 'comment' on="submit"}}>
  {{textarea value=text}}
  <button>Submit</button>
</form>
