%form{ :method => 'GET', :action => '/search' }
  %input{ :name => 'q', :size => 40, :value => @query }
  %input{ :type => 'submit', :value => 'Search' }
  %a{ :href => "/search/advanced?q=#{CGI.escape @query}" } Browse Tags

- if @invalid && @invalid.any?
  .error
    No such tags:
    = @invalid.join ", "

-# = feed_tag :rss, "/", :title => "RSS"

%p
  = pluralize @count, "results"

:javascript
  $tags = #{Hash[Tag.all.map { |t| [ t.id, t.label ] }].to_json}
  $tag_order = #{@tag_order.to_json}
  $tag_icons = #{@tag_icons.to_json}


.results#search_results
  #search_window

#scroll_label
  .subtitle
    Loading...
  .name

- content_for :javascript do
  :javascript
    App.search = new App.SearchResult()
    App.search.start(#{@query.to_json}, #{@count.to_json})
