%form{ :method => 'GET', :action => '/search' }
  %input{ :name => 'q', :size => 40, :value => @query }
  %input{ :type => 'submit', :value => 'Search' }
  %a{ :href => url( :search_advanced, :q => @query ) } Browse Tags

- if @invalid && @invalid.any?
  .error
    No such tags:
    = @invalid.join ", "

= feed_tag :rss, url(:search_index,  :format => :rss), :title => "RSS"

- content_for :nav do
  - next unless @total_pages
  %p
    = pluralize(@count, "result")
    = "| page #@page of #@total_pages | "
    - if @page > 1
      %a{ :href => url_for( :search_index, :q => @query, :page => @page - 1 ) } Prev
    - if @page > 1 && @page < @total_pages
      = " | "
    - if @page < @total_pages
      %a{ :href => url_for( :search_index, :q => @query, :page => @page + 1 ) } Next

= yield :nav

:javascript
  $tags = #{Hash[Tag.map { |t| [ t.id, t.label ] }].to_json}
  $tag_order = #{@tag_order.to_json}
  $tag_icons = #{@tag_icons.to_json}


.mode_picker
  %label
    %input#multi{ :type => 'checkbox' }
    Advanced Mode

  .actions
    %em
      Double-click to view an image
    %br
    %button#download Download
    %br
    #count 0 items
    %ul#tag_list
    %input#tags{ :autocomplete => 'off' }
    #prev_match

.results
  - prev_event = nil
  - @items.each do |item|
    - if item.event_id && item.event_id != prev_event
      - event = item.event
      .event
        %a.event-title{ :href => "/e/#{event.id}/#{event.name}", 'data-event_id' => event.id }
          = event.name
          - if event.name && !event.name.empty?
            %a.subtle{ :href => "/events/#{event.id}/download" } download
        .event-subtitle
          ="#{event.subtitle}"
          - if !event.name || event.name.empty?
            %a.permalink{ :href => "/e/#{event.id}/#{event.name}" } &para;
    - prev_event = item.event_id
    .item
      %a{                                               |
        :id => "item_#{item.id}",                       |
        :data => {                                      |
          :tags => (@tag_map[item.id] || {} ).to_json,  |
        },                                              |
        :href => @links[item.id]                        |
      }                                                 |
        = image_tag item.resized_url( 'square' ), :class => 'thumb'
        %span.icons

- if @items.size > 0
  = yield :nav
