.event-list
  - @events.each do |event|
    - items = event.best_items 10
    - next if items.empty?
    %h3
      = event.name || event.subtitle
      %span.subtitle
        = event.name && event.subtitle
        = surround '(', ')' do
          = pluralize event.items.size, 'item'
    .event-line
      - items.each do |item|
        %a{ :href => url_for(item) }
          = image_tag item.resized_url('square')

    .clearfix

= paginate @events, theme: 'twitter-bootstrap'
