// Load javascript early to avoid noticable resize glitch
:javascript
  $type = #{@item.variety.to_json};
  $width = #{@item.width.to_json};
  $height = #{@item.height.to_json};
  $next_image = #{@next_image_url.to_json};
  $ogv_url = #{@item.video_stream_url( 'ogv' ).to_json};
  $mp4_url = #{@item.video_stream_url( 'mp4' ).to_json};
  $item_id = #{@item.id.to_json};

#background{ :href => @next_url }
  %img#item{ :src => @item.resized_url( 'large' ) }
- if @item.variety == 'video'
  %a#play{ :href => 'javascript:void(0)' }
    %img{ :src => image_path('play.png') }
- if @prev
  %a#prev{ :href => @prev_url }
    %img{ :src => image_path('prev.png') }
- if @next
  %a#next{ :href => @next_url }
    %img{ :src => image_path('next.png') }
%a#fav{ :href => 'javascript:void(0)' }
  %img{ :src => image_path('star-icon.png')}
  -# image taken from http://icons.iconarchive.com/icons/newidols.ru/shop/256/star-icon.png


.info
  %a{ :href => search_path(q: @query) + "#item_#{@item.id}" }
    Back to search results

  %h3 Tags
  #tags
  %br

  Taken:
  %strong
    = @item.taken
    %em=" (#{distance_of_time_in_words @item.taken.to_time, Time.new} ago)"

  %br

  Source:
  %strong= @item.source

  %br

  Views:
  %strong= @view_count

  %br

  - if @item.event
    Event:
    %strong= @item.event.name
    -if @item.event.location
      %em= " at " + @item.event.location.name
    %br

  %a{ :href => "/items/#{@item.id}/download" }
    Download Original

  %h3 Comments
  - @item.comments.each do |comment|
    .comment
      %strong= comment.account.name
      = comment.text
      %em= comment.created

  %h3 Say something
  %form{ :method => 'POST', :action => "/items/#{@item.id}/comments" }
    Name:
    %textarea{ :name => 'text', :rows => 3, :cols => 40 }
    %br
    %input{ :type => 'submit', :value => 'Make Comment' }
