%p
  %a(href="/faces") All Faces

%h1 Face
.main-faces
  .main-face
    %img{ src: @face.url }
    %br
    %strong= @face.cluster&.tag&.label

  .main-item
    %a(href="/items/#{@face.item_id}")
      %img.source-image{ src: @face.item.resized_url(:large) }


  .face-list
    - @face.item.tags.includes(:icon).each do |tag|
      .face
        %img{ src: tag.icon.resized_url(:square) }
        %br
        = tag.label

= form_with(method: "POST", url: "/faces/#{@face.id}/canonize") do |f|
  = f.text_field :label, placeholder: "Tag label", value: @face.cluster&.tag&.label
  %br
  %button.btn.btn-default(type="submit") Canonize

- if @face.tag
  %h1 Canonical for #{@face.tag.label}
  %a.btn.btn-default(href="/faces/#{@face.id}/uncanonize" data-method="POST")
    Uncanonize Face

  %ul
    %li
      %a{ href: "/faces/mistagged/#{@face.tag.id}" }
        Mistagged
    %li
      %a{ href: "/faces/untagged/#{@face.tag.id}" }
        Untagged

- if @other_canonical&.size&.> 0
  %h2 Other Canonical Faces with this Tag
  .face-list
    - @other_canonical.each do |face|
      .face
        %a(href="/faces/#{face.id}")
          %img{ src: face.url }

- unless @face.embedding?
  %p No embedding for face

%h2 Similar Canonical Faces
.face-list
  - @canonical_faces.each do |canon|
    - next unless canon.embedding?
    - next unless @face.embedding?
    - distance = @face.distance(canon)
    - next if distance < Face::DISTANCE_THRESHOLD
    .face
      %a(href="/faces/#{canon.id}")
        %img{ src: canon.url }
      %br
      %strong= canon.tag.label
      %br
      = "#{(distance*100).round(1)}%"

- if @cluster
  %h2 #{@cluster.size} Faces in Cluster
  .face-list
    - @cluster.each do |other|
      .face
        %a(href="/faces/#{other.id}")
          %img{ src: other.url }
        %br
        - if @birthday
          - age = ((other.item.taken.to_time - @birthday.to_time) / 1.month.seconds).floor
          - if age.abs >= 24
            = "#{pluralize age/12, "year"}"
          - else
            = "#{pluralize age, "month"}"
          %br
        = "#{(other.similarity*100).round(1)}%"

- if @hypothetical
  - count = @hypothetical.values.map(&:size).sum
  %h2 #{count} in Hypothetical Cluster
  - @hypothetical.keys.sort_by { -@hypothetical[_1].size }.each do |cluster|
    - faces = @hypothetical[cluster]
    %h3
      - if cluster
        #{faces.size} from #{cluster.label}
      - else
        #{faces.size} unclustered faces

    .face-list
      - faces.each do |other|
        .face
          %a(href="/faces/#{other.id}")
            %img{ src: other.url }

