!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %link{:rel => 'icon', :href => image_path( 'icon.png' )}
    %title= @title || "HyperCheese"
    / HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") HyperCheese
          .container.nav-collapse
            %ul.nav
              %li= link_to "All Photos", "/search"
            %ul.nav
              %li= link_to "Tags", "/tags"
            %ul.nav
              %li= link_to "Admin", "/admin"
            %form.navbar-search.pull-right(method="get" action="/search")
              %input.search-query(type="text" name="q" placeholder="Search")

    .container-fluid
      #spinner
        %img{:src => image_path('spinner.gif')}
      = bootstrap_flash

      = yield

      %footer
        - if @start_time
          %p
            Execution time:
            = sprintf( "%0.3f", Time.new - @start_time)
      = javascript_include_tag "application"
      = yield :javascript
