!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %link{:rel => 'icon', :href => image_path( 'icon.png' )}
    %meta(name="viewport" content="width=device-width")
    %meta(name="mobile-web-app-capable" content="yes")
    %meta(name="theme-color" content="#ffc100")

    %title= @title || "HyperCheese"
    = stylesheet_link_tag "index", :media => "all"
    :css
      html, .share-results {
        background: black;
      }

      .share-results .shared-item {
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 2px;
      }

      @media only screen and (max-width: 610px) {
        .share-results .shared-item {
          width: 30vw;
          height: 30vw;
        }

        .share-results .shared-item img {
          width: 30vw;
          height: 30vw;
        }
      }

      .shared-item img {
        border: 1px solid #444;
      }


    = csrf_meta_tags
    = yield :opengraph
  %body
    #content
      Loading shared photos...
      = yield
    = javascript_include_tag "share"
